Puser=postgr # имя 
Ppassword=123456 # пароль
Pdb=db1 # имя бд

# для БД
DB_URL=postgresql+asyncpg://postgres:postg@postg:5432/db1 # для приложения
DB_URL_ALEMBIC=postgresql://postg:postg@post:5432/db1 # для alembic